mixin comments(data)
	+b('section').comments
		+e.in
			+e('h2').title <span>Комментарии</span>

			+e('ul').list
				+e('li').item
					+e.item-user
						+e('img')(src='assets/images/content/user-1.jpg' alt='')
					+e.item-text Наш факультет <br/>был создан <br/>24 года назад.<br/> Это было увлекательно!
					+e.item-note Managing Partner <br/>Lothar Böhm
				+e('li').item
					+e.item-user
						+e('img')(src='assets/images/content/user-2.jpg' alt='')
					+e.item-text Наш факультет <br/>был создан <br/>24 года назад.<br/> Это было увлекательно!
					+e.item-note Managing Partner <br/>Lothar Böhm
				+e('li').item
					+e.item-user
						+e('img')(src='assets/images/content/user-3.jpg' alt='')
					+e.item-text Наш факультет <br/>был создан <br/>24 года назад.<br/> Это было увлекательно!
					+e.item-note Managing Partner <br/>Lothar Böhm
				+e('li').item
					+e.item-user
						+e('img')(src='assets/images/content/user-4.jpg' alt='')
					+e.item-text Наш факультет <br/>был создан <br/>24 года назад.<br/> Это было увлекательно!
					+e.item-note Managing Partner <br/>Lothar Böhm
				+e('li').item
					+e.item-user
						+e('img')(src='assets/images/content/user-1.jpg' alt='')
					+e.item-text Наш факультет <br/>был создан <br/>24 года назад.<br/> Это было увлекательно!
					+e.item-note Managing Partner <br/>Lothar Böhm
				+e('li').item
					+e.item-user
						+e('img')(src='assets/images/content/user-2.jpg' alt='')
					+e.item-text Наш факультет <br/>был создан <br/>24 года назад.<br/> Это было увлекательно!
					+e.item-note Managing Partner <br/>Lothar Böhm
				+e('li').item
					+e.item-user
						+e('img')(src='assets/images/content/user-3.jpg' alt='')
					+e.item-text Наш факультет <br/>был создан <br/>24 года назад.<br/> Это было увлекательно!
					+e.item-note Managing Partner <br/>Lothar Böhm
				+e('li').item
					+e.item-user
						+e('img')(src='assets/images/content/user-4.jpg' alt='')
					+e.item-text Наш факультет <br/>был создан <br/>24 года назад.<br/> Это было увлекательно!
					+e.item-note Managing Partner <br/>Lothar Böhm

		+b.comments-nav
			+e('a').link._back(href='#back') Назад
			+e('a').link._next(href='#next') Вперед






