mixin video(data)
	+b('section').video
		+e.in
			+e('h2').title <span>Наши видео</span>

			+e.w
				+e.item._big
					+e('a').link(href='#vidoe')
						+e.embed
							+e('img')(src='assets/images/content/video-1.jpg')
							+e.play-icon._big
							+e.image-fade
				+e.w-w
					+e.item
						+e('a').link(href='#vidoe')
							+e.embed
								+e('img')(src='assets/images/content/video-2.jpg')
								+e.play-icon
								+e.image-fade

							+e.item-title Две команды ФЭСН в полуфинале
					+e.item
						+e('a').link(href='#vidoe')
							+e.embed
								+e('img')(src='assets/images/content/video-3.jpg')
								+e.play-icon
								+e.image-fade

							+e.item-title Две команды ФЭСН в полуфинале
					+e.item
						+e('a').link(href='#vidoe')
							+e.embed
								+e('img')(src='assets/images/content/video-4.jpg')
								+e.play-icon
								+e.image-fade

							+e.item-title Две команды ФЭСН в полуфинале
					+e.item
						+e('a').link(href='#vidoe')
							+e.embed
								+e('img')(src='assets/images/content/video-2.jpg')
								+e.play-icon
								+e.image-fade

							+e.item-title Две команды ФЭСН в полуфинале





