mixin footer(data)
	+b('footer').footer
		+e.in
			+e.w
				+e.info 119571, Москва, проспект Вернадского, 82, 5-й учебный корпус, офис 305 <br/>Деканат: +7 (495) 434-35-31, e-mail: <a href='mailto:fesn@ranepa.ru'>fesn@ranepa.ru</a> <br/>Магистратура: +7 (909) 980-06-01, e-mail: <a href='mailto:chichin-av@ranepa.ru'>chichin-av@ranepa.ru</a>

				+e.info 2014 - 2015 © www.fesn.ranepa.ru <br/>Все материалы являются собственностью интернет-издания www.fesn.ranepa.ru <br/>Любое копирование запрещено без разрешения администрации.

			+b.search-form
				+e('input').input(type='text' value='' placeholder='')
				+e('input').submit(type='submit' value='Поиск')
