mixin programs()
		+b('section').programs
			+e.in
				+e('h2').title
					+e('span') Наши программы
				+e('ul').list
					+e('li').item
						+e.item-image
							img(src='assets/images/content/program-1.jpg', alt='БАКАЛАВРИАТ', title='')
							+e.item-menu
								+e('ul').menu-list
									+e('li').menu-item._1
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Общая информация
									+e('li').menu-item._2
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Расписание
									+e('li').menu-item._3
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Учебный план
									+e('li').menu-item._4
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Практики и стажировки
									+e('li').menu-item._5
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Программы двойных дипломов
									+e('li').menu-item._6
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Студенческая жизнь
									+e('li').menu-item._7
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text НИР студентов
									+e('li').menu-item._8
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Рейтинги
									+e('li').menu-item._9
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Тьюторство
						+e.item-bottom
							+e('a').item-title(href='#')
								+e('span').item-icon._1
								+e('span').item-text БАКАЛАВРИАТ
								+e('span').item-note Регистрация
					+e('li').item
						+e.item-image
							img(src='assets/images/content/program-2.jpg', alt='БАКАЛАВРИАТ', title='')
							+e.item-menu
								+e('ul').menu-list
									+e('li').menu-item._1
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Общая информация
									+e('li').menu-item._2
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Расписание
									+e('li').menu-item._3
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Учебный план
									+e('li').menu-item._4
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Практики и стажировки
									+e('li').menu-item._5
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Программы двойных дипломов
									+e('li').menu-item._6
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Студенческая жизнь
									+e('li').menu-item._7
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text НИР студентов
									+e('li').menu-item._8
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Рейтинги
									+e('li').menu-item._9
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Тьюторство
						+e.item-bottom
							+e('a').item-title(href='#')
								+e('span').item-icon._2
								+e('span').item-text МАГИСТРАТУРА
								+e('span').item-note Он-лайн анкета
					+e('li').item
						+e.item-image
							img(src='assets/images/content/program-3.jpg', alt='БАКАЛАВРИАТ', title='')
							+e.item-menu
								+e('ul').menu-list
									+e('li').menu-item._1
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Общая информация
									+e('li').menu-item._2
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Расписание
									+e('li').menu-item._3
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Учебный план
									+e('li').menu-item._4
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Практики и стажировки
									+e('li').menu-item._5
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Программы двойных дипломов
									+e('li').menu-item._6
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Студенческая жизнь
									+e('li').menu-item._7
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text НИР студентов
									+e('li').menu-item._8
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Рейтинги
									+e('li').menu-item._9
										+e('a').menu-link(href='#link')
											+e('span').menu-icon
											+e('span').menu-text Тьюторство
						+e.item-bottom
							+e('a').item-title(href='#')
								+e('span').item-icon._3
								+e('span').item-text АБИТУРИЕНТАМ
								+e('span').item-note Задай вопрос!

