mixin info(data)
	+b('section').info
		+e.in
			+e('h2').title <span>ПРИВЕТСТВИЕ</span>

			+e.w
				+e.content
						+e.image
							+e('img')(src='assets/images/content/info-img.jpg' alt='info image')
						+e('p').text Имею честь представить вам один из старейших и крупнейших техническихуниверситетов мира Национальный технический университет Украины "Киевский политехнический институт", пригласить вас на учебу и предложить сотрудничест-во в научно-технической сфере.
						+e('p').text НТУУ "КПИ" готовит высококвалифицированных специалистов образовательно-квалификационных уровней "бакалавр", "специалист" и "магистр" по разнобразным направлениям и специальностям для разных областей экономики и социальной сферы Украины и зарубежных стран. За 110-летнюю историю его существования было подготовлено около 200 тысяч специалистов.
						+e('p').text Подготовка осуществляется в 8-ми институтах (в т.ч. в двух военных) и на 18 фак-ультетах универси-тета. Учебный процесс проводят опытные преподаватели и изв
				+e.content
						+e.image
							+e('img')(src='assets/images/content/info-img.jpg' alt='info image')
						+e('p').text Имею честь представить вам один из старейших и крупнейших техническихуниверситетов мира Национальный технический университет Украины "Киевский политехнический институт", пригласить вас на учебу и предложить сотрудничест-во в научно-технической сфере.
						+e('p').text НТУУ "КПИ" готовит высококвалифицированных специалистов образовательно-квалификационных уровней "бакалавр", "специалист" и "магистр" по разнобразным направлениям и специальностям для разных областей экономики и социальной сферы Украины и зарубежных стран. За 110-летнюю историю его существования было подготовлено около 200 тысяч специалистов.
						+e('p').text Подготовка осуществляется в 8-ми институтах (в т.ч. в двух военных) и на 18 фак-ультетах универси-тета. Учебный процесс проводят опытные преподаватели и изв

				+e.content
						+e.image
							+e('img')(src='assets/images/content/info-img.jpg' alt='info image')
						+e('p').text Имею честь представить вам один из старейших и крупнейших техническихуниверситетов мира Национальный технический университет Украины "Киевский политехнический институт", пригласить вас на учебу и предложить сотрудничест-во в научно-технической сфере.
						+e('p').text НТУУ "КПИ" готовит высококвалифицированных специалистов образовательно-квалификационных уровней "бакалавр", "специалист" и "магистр" по разнобразным направлениям и специальностям для разных областей экономики и социальной сферы Украины и зарубежных стран. За 110-летнюю историю его существования было подготовлено около 200 тысяч специалистов.
						+e('p').text Подготовка осуществляется в 8-ми институтах (в т.ч. в двух военных) и на 18 фак-ультетах универси-тета. Учебный процесс проводят опытные преподаватели и изв


		+b.info-nav
			+e('a').link._back(href='#back') Назад
			+e('a').link._next(href='#next') Вперед
