// Common styles of the project

body
	background #FFF
	font-family $helvetica
	font-size 14px
	font-weight 400

.page

	min-width 1000px
.in
	margin auto
	padding-left 10px
	padding-right 10px
	min-width 1000px
	max-width 1300px

