/* Your custom fonts here */

/* Example

@font-face {
	font-family: 'CustomFont';
	src: url('../fonts/Custom-Font.eot');
	src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Custom-Font.woff') format('woff'),
		 url('../fonts/Custom-Font.svg#custom_font') format('svg');
	font-weight: 400;       // For normal width. It could has another value
	font-style: normal;     // Also could has another value
	}

*/


@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/helvetica/hinted-subset-HelveticaBold-Regular.eot');
	src: local('Helvetica Bold Regular'), local('HelveticaBold-Regular'),
		url('../fonts/helvetica/hinted-subset-HelveticaBold-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica/hinted-subset-HelveticaBold-Regular.woff2') format('woff2'),
		url('../fonts/helvetica/hinted-subset-HelveticaBold-Regular.woff') format('woff'),
		url('../fonts/helvetica/hinted-subset-HelveticaBold-Regular.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/helvetica/hinted-subset-HelveticaLight-Regular.eot');
	src: local('Helvetica Light Regular'), local('HelveticaLight-Regular'),
		url('../fonts/helvetica/hinted-subset-HelveticaLight-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica/hinted-subset-HelveticaLight-Regular.woff2') format('woff2'),
		url('../fonts/helvetica/hinted-subset-HelveticaLight-Regular.woff') format('woff'),
		url('../fonts/helvetica/hinted-subset-HelveticaLight-Regular.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Light';
	src: url('../fonts/helvetica/hinted-subset-HelveticaLightItalic-Regular.eot');
	src: local('Helvetica Light Italic Regular'), local('HelveticaLightItalic-Regular'),
		url('../fonts/helvetica/hinted-subset-HelveticaLightItalic-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica/hinted-subset-HelveticaLightItalic-Regular.woff2') format('woff2'),
		url('../fonts/helvetica/hinted-subset-HelveticaLightItalic-Regular.woff') format('woff'),
		url('../fonts/helvetica/hinted-subset-HelveticaLightItalic-Regular.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Calibri';
	src: url('../fonts/calibri/hinted-subset-Calibri.eot');
	src: local('Calibri'),
		url('../fonts/calibri/hinted-subset-Calibri.eot?#iefix') format('embedded-opentype'),
		url('../fonts/calibri/hinted-subset-Calibri.woff2') format('woff2'),
		url('../fonts/calibri/hinted-subset-Calibri.woff') format('woff'),
		url('../fonts/calibri/hinted-subset-Calibri.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Bold';
	src: url('../fonts/helvetica/hinted-subset-HelveticaBoldItalic-Regular.eot');
	src: local('Helvetica Bold Italic Regular'), local('HelveticaBoldItalic-Regular'),
		url('../fonts/helvetica/hinted-subset-HelveticaBoldItalic-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica/hinted-subset-HelveticaBoldItalic-Regular.woff2') format('woff2'),
		url('../fonts/helvetica/hinted-subset-HelveticaBoldItalic-Regular.woff') format('woff'),
		url('../fonts/helvetica/hinted-subset-HelveticaBoldItalic-Regular.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/helvetica/hinted-subset-HelveticaItalic-Regular.eot');
	src: local('Helvetica Italic Regular'), local('HelveticaItalic-Regular'),
		url('../fonts/helvetica/hinted-subset-HelveticaItalic-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica/hinted-subset-HelveticaItalic-Regular.woff2') format('woff2'),
		url('../fonts/helvetica/hinted-subset-HelveticaItalic-Regular.woff') format('woff'),
		url('../fonts/helvetica/hinted-subset-HelveticaItalic-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/helvetica/hinted-subset-HelveticaRegular-Regular.eot');
	src: local('Helvetica Regular Regular'), local('HelveticaRegular-Regular'),
		url('../fonts/helvetica/hinted-subset-HelveticaRegular-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica/hinted-subset-HelveticaRegular-Regular.woff2') format('woff2'),
		url('../fonts/helvetica/hinted-subset-HelveticaRegular-Regular.woff') format('woff'),
		url('../fonts/helvetica/hinted-subset-HelveticaRegular-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}




// Var for using custom font

$helvetica = 'Helvetica', Helvetica Neue, Arial, sans-serif;
$helvetica-bold = 'Helvetica Bold', Helvetica Neue, Arial, sans-serif;
$helvetica-light = 'Helvetica Light', Helvetica Neue, Arial, sans-serif;
$calibri = 'Calibri', Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;



