mixin hero(data)
	+b('section').hero
		+b.slider
			+e.w
				+e.item._active._1
					+e.item-image
						+e('img')(src='assets/images/content/hero-img.jpg' alt='slider image')
					+e.item-in
						+e.item-slogan._one._animated
							+e.item-slogan-text <span>Ваша карьера -</span> это наш проект!
							+e('img')(src='assets/images/general/slogan-bg.png')
						+e.item-slogan._two._animated
							+e.item-slogan-text <span>FESS is the project</span> of your success!
							+e('img')(src='assets/images/general/slogan-bg.png')
				+e.item._2
					+e.item-image
						//- +e('img')(src='//loremflickr.com/1920/517' alt='slider image')
						+e('img')(src='assets/images/content/hero-img.jpg' alt='slider image')
					+e.item-in
						+e.item-slogan._one
							+e.item-slogan-text <span>Ваша карьера -</span> это наш проект!
							+e('img')(src='assets/images/general/slogan-bg.png')
						+e.item-slogan._two
							+e.item-slogan-text <span>FESS is the project</span> of your success!
							+e('img')(src='assets/images/general/slogan-bg.png')
				+e.item._3
					+e.item-image
						//- +e('img')(src='//loremflickr.com/1920/517' alt='slider image')
						+e('img')(src='assets/images/content/hero-img.jpg' alt='slider image')
					+e.item-in
						+e.item-slogan._one
							+e.item-slogan-text <span>Ваша карьера -</span> это наш проект!
							+e('img')(src='assets/images/general/slogan-bg.png')
						+e.item-slogan._two
							+e.item-slogan-text <span>FESS is the project</span> of your success!
							+e('img')(src='assets/images/general/slogan-bg.png')



