mixin diplomas(data)
	+b('section').diplomas
		+e.in
			+e('h2').title <span>Дипломы</span>
			+e.list
				+e.w
					+e.item
						+e.item-image
							+e('img')(src='assets/images/content/diplom-1.jpg')
						+e.item-caption <span>Диплом государственного образца о высшем образовании</span>
					+e.item
						+e.item-image
							+e('img')(src='assets/images/content/diplom-2.jpg')
						+e.item-caption <span>Диплом магистра государственного образца</span>
					+e.item
						+e.item-image
							+e('img')(src='assets/images/content/diplom-3.jpg')
						+e.item-caption <span>Диплом переводчика французского языка<br/>(выдается Университетом Сорбонна)</span>
					+e.item
						+e.item-image
							+e('img')(src='assets/images/content/diplom-4.jpg')
						+e.item-caption <span>Диплом переводчика испанского языка<br/>(выдается Институтом Сервантеса Испанской Королевской Академии)</span>
					+e.item
						+e.item-image
							+e('img')(src='assets/images/content/diplom-5.jpg')
						+e.item-caption <span>Сертификат IELTS по английскому языку</span>
					+e.item
						+e.item-image
							+e('img')(src='assets/images/content/diplom-6.jpg')
						+e.item-caption <span>Сертификат BEC по английскому языку</span>
				+e.w-w
					+e.w-w-w
						+e.item._big
							+e.item-image
								+e('img')(src='assets/images/content/diplom-big.jpg')
							+e.item-caption <span>Диплом Кембриджского университета по английскому языку</span>


